@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: rgb(34,34,34);
  background: linear-gradient(180deg, rgba(34,34,34,1) 46%, rgba(255,255,255,1) 60%);
  font-family: 'Caveat', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.zoom{
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.me{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-image: url(../img/0.jpg);
  background-size: cover;
}
.me:hover{
  transition: 2s;
  transform: scale(1.5);
  background-image: url(../img/1.jpg);
}
.age{
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  opacity: 0;
  font-size: 8rem;
}
.age:hover{
  color: white;
  margin: 50px 0 0 0;
  opacity: 1;
  transition: 2s;
  cursor: pointer;  
}
h1{
  font-size: 5rem;
}
footer{
  padding-top: 5rem;
  width: 100%;
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  font-size: 2rem;
}
ul i{
  color: #222;
}
i:hover{
  color: white;
  transform: scale(1.2);
  transition: 300ms;
}