body{
    display: flex;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-rows: 60vh 20vh 20vh;
  }
  header{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-row: 1;
  }
  .zoom{

    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }
  .me{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-image: url(0.jpg);
    background-size: cover;
  }
  .me:hover{
    transition: 2s;
    transform: scale(1.5);
    background-image: url(1.jpg);
  }
  .age{
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 250px;
    height: 250px;
    opacity: 0;
    font-size: 100px;
    text-shadow: 2px 2px white;
  }
  .age:hover{
    margin: 50px 0 0 0;
    opacity: 1;
    transition: 2s;
    cursor: pointer;
  }
  .name{
    margin: 50px 0 0 0;
    font-size: 30px;

  }
  .text1{  
    -moz-transform:    scaleX(-1); 
    -o-transform:      scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform:         scaleX(-1); 
    filter: FlipH;              
  }
  .text1:hover{
    transition: 2s;
    -moz-transform: none; 
    -o-transform:   none; 
    -webkit-transform: none; 
    transform:         none; 
    filter: none;    
  }
  table{
    grid-row: 2;
    background-color: black;
    color: white;
  }
  footer{
    grid-row: 3;
  }
ul{
    list-style: none; 
}
